@import "tailwindcss";

:root {
  --background: #EAE6F5; /* Light Lavender */
  --foreground: #442F8C; /* Deep Purple text */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0D0B14; /* Very Dark Purple */
    --foreground: #EAE6F5;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
